$colorDark: #303030;
$colorText: #FA6900;
$colorLight: #FFF;
$colorBorder: #A3A3A3;
$border: solid $colorBorder 2px;

body {
	background-color: $colorLight;
	color: $colorText;
	div {
		border: $border;
	}
}

#calc {
	background-color: $colorLight;
	width: 300px;
	height: 500px;
	border-radius: 20px;
	margin: 40px auto;
	box-shadow: 2px 2px 5px #888888;
}

#display{
	width: 230px;
	height: 85px;
	margin: 20px auto;
	border-radius: 15px;
	padding: 0px 25px;
	text-align: right;
	position: relative;
	overflow: hidden;
	//background-color: $colorBorder;
}

#digi  	 {
	position: absolute;
	bottom: 0;
	right: 15;
	font-size: 35px;
}

.button {
	height: 45px;
	width: 45px;
	border-radius: 10px;
	display: inline-block;
	font-size: 40px;
	overflow: hidden;
	position: relative;
	margin: 15px;
	&:hover{
		background-color: $colorText;
		color: $colorLight;
		cursor: pointer;
		cursor: hand;
	}
}

p {
	position: absolute;
	top: -40;
	left:14;
}
